$fontZillaSlab: 'Zilla Slab', serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 99vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.board {
  min-width: 300px;
  min-height: 400px;
  border: 5px solid lightgray;
  padding: 20px 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 10px 10px 10px;
}

.board__title {
  font-family: $fontZillaSlab;
  font-size: 1.5rem;
  font-weight: 700;
  color: gray;
}

.item {
  width: 100%;
  border: 2px solid lightpink;
  padding: 10px;
  border-radius: 6px;
  margin: 5px 0;
  cursor: grab;
  background-color: #fcfcf9;
}

//show Alert message
.show-message-false {
  opacity: 0;
  visibility: hidden;
  transition: .55s opacity, .55s visibility;
}

.show-message-true {
  opacity: 1;
  visibility: visible;
  transition: .20s opacity, .20s visibility;
}

//show Modal confirm
.show-modal-false {
  opacity: 0;
  visibility: hidden;
  transition: .55s opacity, .55s visibility;
}

.show-modal-true {
  opacity: 1;
  visibility: visible;
  transition: .20s opacity, .20s visibility;
}

//link
.link-block-info {
  margin-top: 10px;
}

.info-link {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  background-color: #c4fd91;
  color: black;
}

.info-link:hover {
  background-color: #b3f578;
}

.info-link:active {
  background-color: #a5ef63;
}